<!DOCTYPE html>
<html>

  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1><%= @full_name %> is inquiring about the following:</h1>
    <h3>Subject: <%= @subject %></h2>
    <h3>Message:</h2>
    <p><%= @message %></p>
  </body>

</html>
