<!DOCTYPE html>
<html>

  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1><%= @full_name %> at <%= @email %> is inquiring about the following:</h1>
    <p>Subject: <%= @subject %></p>
    <br/>
    <p>Message: <%= @message %></p>
  </body>

</html>
