<!DOCTYPE html>
<html>

  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h3>From: <%= @full_name %> (<%= @sender %>)</h3>
    <h3>Message:</h3>
    <p><%= @message %></p>
  </body>

</html>
